body {background-color: rgba(255, 0, 0, 0.5);
}
.parte01 {background-color: rgb(180, 255, 127);
    h1 {text-align: center;}
    h2 {}
}
#imai {width: 50%;
}


.parte02 {background-color: rgb(42, 48, 165);
}
.parte03 {background-color: blueviolet;
}